body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
    animation: fadeIn 1s ease-in-out;
}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    background-color: #4CAF50;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header .slogan-container {
    flex: 1;
    text-align: center;
}

header .slogan {
    margin-top: 5px;
    font-size: 1.2em;
    font-weight: 300;
}

.language-switcher {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    border-radius: 5px;
}

.language-switcher button {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    padding: 3px 6px;
    margin-left: 5px;
}

.language-switcher img {
    margin-right: 5px;
}

#tabs-container {
    position: sticky;
    top: 50px;
    width: 100%;
    z-index: 999;
    background-color: #4CAF50;
    padding: 10px 0;
    overflow-x: auto;
}

#tabs-container .btn {
    font-size: 1em;
}

.container {
    padding-top: 0px !important;
    margin-top: 0px !important;
}

section {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
}

#slider-section {
    padding-top: 0px !important;
    margin-top: 0px !important;
    padding-bottom: 20px;
    text-align: center;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#scanner-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border: 4px dashed #4CAF50;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#result {
    font-size: 1em;
    margin-top: 10px;
    color: #4CAF50;
}

#result.boicoted {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
}

#search-section {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.search-input {
    width: 100%;
    padding: 15px 20px 15px 50px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.search-input:focus {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    outline: none;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #aaa;
}

#searchResultMessage {
    margin-top: 10px;
    font-size: 1em;
    color: #4CAF50;
}

#top-products-section {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#top-products-section h2 {
    margin-bottom: 20px;
    color: #4CAF50;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card h3 {
    font-size: 1em;
    margin-bottom: 10px;
    color: #4CAF50;
}

.product-card p {
    font-size: 0.9em;
    color: #555;
}

#news-section {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#news-section h2 {
    margin-bottom: 20px;
    color: #4CAF50;
}

#newsContent {
    text-align: left;
}

footer {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }

.carousel-item {
    animation: fadeIn 1s;
}

.cta-button {
    transition: transform 0.3s;
}

.cta-button:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .slogan-container {
        order: 2;
        margin-bottom: 10px;
    }

    .language-switcher {
        order: 3;
        margin-top: 10px;
    }

    #tabs-container {
        top: 0;
    }

    #tabs-container .btn {
        font-size: 0.9em;
        white-space: nowrap;
    }

    #slider-section {
        padding-top: 0px !important;
        margin-top: 0px !important;
    }

    .product-card h3 {
        font-size: 1em;
    }

    .product-card p {
        font-size: 0.8em;
    }
}